USE [master]
GO
/****** Object:  Database [ATMECSDB]    Script Date: 10/9/2020 8:39:01 AM ******/
CREATE DATABASE [ATMECSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATMECSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ATMECSDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATMECSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ATMECSDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATMECSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATMECSDB]
GO
USE [ATMECSDB]
GO
/****** Object:  Table [dbo].[Tbl_Contacts]    Script Date: 10/9/2020 8:39:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [date] NULL,
	[ListOfEmails] [nvarchar](max) NULL,
	[Phonenumbers] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tbl_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
